.form-container {
  width: 50%;
  margin: 4vmin auto;
}

.form-container > form {
  display: flex;
  flex-direction: column;
}

.form-container > form > div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.form-container > form > div:last-child {
  justify-content: flex-end;
  width: 100%;
}

.form-container > form > div:last-child > button {
  width: 40vw;
}

.form-container > form > div > input {
  width: 40vw;
  height: 30px;
}

.login-button-div {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}