.index-image {
  max-height: 40vh;
  max-width: 30vw;
  border-radius: 8px;
  filter: drop-shadow(0 0 4px rgb(57, 57, 57));
}

.index-photo-name {
  color:rgb(99, 99, 99);
}

.index-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

.photo-credit-div {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.photo-credit-div > p {
  margin: 0;
  font-size: 3vmin;
}

.photo-credit-div > p > span {
  color: rgb(0, 136, 134);
  font-size: 3.6vmin;
}